.container {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main {
  width: 100%;
}
figure {
  position: relative;
  padding-bottom: 50vw;
}
figure > img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.content {
  display: flex;
}
.content_cont {
  padding: 0 3.2rem;
  margin-bottom: 4rem;
}
.content_cont:first-child {
  padding-top: 2rem;
}
.content_head {
  text-transform: capitalize;
  font-size: 2rem;
  margin-bottom: 1.6rem;
}
.content_items {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
}
.content_vid {
  flex: 0 1 30rem;
  width: 35rem;
  height: 15rem;
  padding: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary);
  color: var(--color-white);
  border-radius: 5px;
  cursor: pointer;
}
